
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
   <script src="/js/index.js" defer></script>

   

</head>
<body>
    


    <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand text-primary font-weight-bold ml-4" href="#"><h3><i class="fa fa-video-camera" aria-hidden="true"></i> Video Chat</h3></a>
        </div>
    </nav>


    <div class="container">
        <div class="row">

            <div class="feature-text col-12 col-md-6">
                <div class="primary-content col-12">
                    <p>
                        Premium video meetings.<br>
                        Now free for everyone.
                    </p>
                    
        
                </div>
                <div class="secondary-content col-12">
                    <p>We re-engineered the service we built for secure business meetings, Video Chatting App, to make it free and available for all.</p>
        
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-12">
                        <form action="/room" method="POST">
                            <button type="submit" class="start-call btn btn-primary btn-lg" id="startCall"><span style="padding: 10px;"><i class="fa fa-plus" aria-hidden="true"></i></span> New Call</button>

                        </form>

                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-8">
                                <input class="join-call form-control form-control-lg" id="joinCall" placeholder="&#xf11c; &nbsp Enter the Link"/>
        
                            </div>
                            <div class="col-4">
                                <button class="join-link fadelink btn btn-success btn-lg hide" id="joinLink">Join</button>
        
        
                            </div>

                        </div>
                        

                    </div>

                </div>
                    
                   
                
            </div>
            <div class="feature-image col-12 col-md-6">
                <img src="/images/feature-image1.png"  class="img-fluid" alt="video">
    
            </div>

        </div>
    </div>

    
    <footer>
        <div class="copyright">
            Developed by Siddhant More email: siddhantmore9167@gmail.com
        </div>
       
    </footer>







</body>
</html>